{% extends base_template %}
{% load i18n staticfiles crud_tags %}
{% block extrastyle %}
{{ media }}
{% endblock %}
{% block content %}
<section id="itemList" class="not">
{% block crud_itemlist %}
{% if actions|length or item_actions|length %}<form id="id_form_action" role="form" action="" method="post">{% csrf_token %}{% endif %}
<script>
function addNewItemThunk() {
{% if add_item_custom_url|length %}
    window.location = "{{ add_item_custom_url }}";
{% else %}
    addNewItem();
{% endif %}
}
function editItemThunk(itemId) {
{% if edit_item_custom_url|length %}
    var editURL = "{{ edit_item_custom_url }}";
    editURL += "?item="+itemId.toString();
    window.location = editURL;
{% else %}
    editItem(itemId);
{% endif %}
}
</script>
<div class="form-group" style="margin-bottom: 10px;">
    {% if enable_create %}
    <button id="addItem" type="button" class="btn btn-primary" title="{{ create_button_text }}" onclick="addNewItemThunk();">{{ create_button_text }}</button>
    {% endif %}
    {% if object_list|length > 0 and actions|length %}
    <div class="btn-group" id="id_action_dropdown">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{% trans "Actions" %}&nbsp;<span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu">
            {% for label, handler in actions %}
            <li><a href="javascript:void(0);" onclick="invokeAction('{{ handler }}');">{{ label }}</a></li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</div>
{% if object_list|length > 0 %}
<table class="{{ table_css_classes }}">
<thead>
    <tr>
        {% for name in list_display %}
        <th>{% if actions|length %}{% if forloop.first %}<input class="item-selection-checkbox-header" type="checkbox" id="id_select_all"></input>&nbsp;&nbsp;{% endif %}{% endif %}{% field_label view name %}</th>
        {% endfor %}
        {% if enable_edit or enable_delete or itemactions|length %}
        <th width="{{ action_col_width }}">{% trans "Action" %}</th>
        {% endif %}
    </tr>
</thead>
<tbody>
{% for object in object_list %}
    {% render_item object forloop.counter0 %}
    {% if forloop.last %}
        <script type="text/javascript" charset="utf-8">
            totalItems = {{ forloop.counter }};
        </script>
    {% endif %}
{% endfor %}
</tbody>
</table>
{% else %}
{% trans "No items" %}
{% endif %}
{% if actions|length %}</form>{% endif %}
{% if is_paginated %}
<div class="btn-toolbar" role="toolbar">
<ul class="pagination pull-right" style="margin-top: -10px;">
    {% if page_obj.has_previous %}
    <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
    <li class="disabled"><a href="">&laquo;</a></li>
    {% endif %}
    {% for p in paginator.page_range %}
    <li><a href="?page={{p}}">{{ p }}</a></li>
    {% endfor %}
    <li><a href="?page=all">{% trans 'All' %}</a></li>
    {% if page_obj.has_next %}
    <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
    <li class="disabled"><a href="#">&raquo;</a></li>
    {% endif %}
</ul>
</div>
{% endif %}
{% endblock crud_itemlist %}
</section>
<section id="deleteItemPanel" class="not">
{% block deleteitempanel %}
<div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">{% trans 'Confirm deletion' %}</h3></div>
    <div class="panel-body">
    {% block crud_deleteitempanel %}
        <form id="formDelete" role="form" action="" method="post">
            {% csrf_token %}
            <p><span id="msgDeleteConfirm">{{ delete_msg }}</span></p>
            <div class="form-group">
                <button id="idYes" type="submit" class="btn btn-primary">{% trans "Yes" %}</button>
                <a id='idNo' class="btn btn-default" href="javascript:void(0);" onclick="cancelDelete()">{% trans "No" %}</a>
            </div>
        </form>
    {% endblock crud_deleteitempanel %}
    </div>
</div>
{% endblock deleteitempanel %}
</section>
{% endblock content %}
